.ee-component-container{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    gap: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ee-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

#add-ee{
    font-size: 32px;
}

#add-ee:hover{
    cursor: pointer;
}

.pe-component-container{
    display: flex;
    flex-direction: column;
    width: 753px;
    height: 903px;
    overflow-y: scroll;
    scrollbar-width: thin;
    gap: 20px;
    padding-right: 10px;
    position: relative;
    padding-bottom: 10px;
}

.pe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 753px;
    position: absolute;
    top: 10px;
}

#add-pe{
    font-size: 32px;
}

#add-pe:hover{
    cursor: pointer;
}
