@font-face {
    font-family: 'Inter 28pt';
    src: url('../public/fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../public/fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../public/fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../public/fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Inter 28pt';
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
  background: #F9FAFB;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
